body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

div{
  width: 50%;
  height: 50%;
}

.io{
  color: rgb(179, 25, 25);
}

header {
  background-color: #191a1b;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav {
  background-color: black;
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #00c3ff;
}

main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
  color: #068135;
  margin-top: 0;
}

main img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}



